/src
*gitignore/
*.env

*.orig
.*.swp
.DS_Store
._*
.git
.hg
.lock-wscript
.npmrc
.svn
.wafpickle-N
CVS
config.gypi
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
yarn.lock
tsup.config.ts
tsconfig.json